*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: 0 auto;
}

header{
    background-color:#add8e6 ;
    
    
}



.wrapper-1{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    border: 1px dashed black;
}
.wrapper{
     display: flex;
    justify-content:space-between;   
    border: 1px dashed black;
    margin-top: 2rem;

}

.head-back{
    padding-bottom: 1rem;
}

.back-orange{
    background-color: orange;
    
}

.back-blu{
    min-height: 500px;
    border: 1px solid black;
    background-color: blue;
}

.retangolo{
    margin-top: 50px;
    height: 400px;
    background-color: pink;
}

.text{
    background-color: purple;
    height: 300px;
    width: 70%;
}

.img{
    background-color: lightskyblue;
    width: 30%;
}

.back-grey{
    background-color: lightgray;
}

