/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: 0 auto;
}

header{
    background-color:#add8e6 ;   
}

/* common */

.wrapper-1{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    border: 1px dashed black;
}
.wrapper{
     display: flex;
       
    border: 1px dashed black;
    margin-top: 2rem;

}

.wrapper-2{
    display: flex;
       
    border: 1px dashed white;
    
}

/* HEADER */

.back-orange{
    background-color: orange;
    
}

.back-blu{
    min-height: 500px;
    border: 1px solid black;
    background-color: blue;
}

.retangolo{
    margin-top: 50px;
    height: 400px;
    background-color: pink;
}

/* section */

.text{
    background-color: purple;
    height: 300px;
    width: 70%;
}

.img{
    background-color: lightskyblue;
    width: 30%;
}

.back-grey{
    background-color: lightgray;
    padding: 2rem;
    
    
}

.green-block{
    min-height: 700px;
    background-color: green;
    

}
 
.margin{
    margin-top: 2rem;
}

/* FOOTER */
footer{
    background-color: black;
}

.col{
    min-height: 600px;
    background-color:aquamarine ;
    border: 1px dashed white;
    color: white;
    width: 600px;
}
.col-2{
    min-height: 600px;
    background-color:lightcoral ;
    border: 1px dashed white;
    color: white;
    
}