/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
}

img{
    max-width: 100%;
}
header{
    background-color:#add8e6 ;   
}

/* common */

.wrapper-1{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    border: 1px dashed black;
}
.wrapper{
     display: flex;
       
    border: 1px dashed black;
    margin-top: 2rem;

}

.wrapper-2{
    display: flex;
       
    border: 1px dashed white;
    
}

/* HEADER */

.header-navigation{
    background-color:#add8e6 ;
    height: 5rem;
    
}

.header-nav{
   width: 60%;
}

 ul {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

li{
    margin: 10px;
}

.header-logo
.header-action{
    width: 20%;
}
.header-action{
    text-align: end;
}

.align-center{
    align-items: center;
}

.back-orange{
    /* Debug */
    background-color: orange;
    
}

.back-blu{
    /* Debug */
    min-height: 500px;
    border: 1px solid black;
    background-color: blue;
}

.retangolo{
    width:60%;
    margin-top: 50px;
    /* Debug */
    height: 400px;
    background-color: pink;
}

/* section */

.text{
    /* Debug */
    background-color: purple;
   min-height: 300px;
    width: 70%;
}

.img{
    /* Debug */
    background-color: lightskyblue;
    width: 30%;
}

.back-grey{
    /* Debug */
    background-color: lightgray;
    padding: 2rem;
    
    
}

.green-block{
    /* Debug */
    min-height: 700px;
    background-color: green;
    

}
 
.margin{
    margin-top: 2rem;
}

/* FOOTER */
footer {
   /* Debug */
    background-color: black;
}

.main-column {
    width: 30%;
    /* Debug */
    background-color: lightcyan;
    min-height: 400px;
}

.menu-column {
    width: 70%;
    display: flex;
    /* Debug */
    background-color: lightpink;
    min-height: 400px;
}

.footer-menu {
    width: calc(100% / 4);
    /* Debug */
    border: 1px dashed gray;
    min-height: 400px;
}

.footer-bottom {
   /* Debug */
   border-top: 1px solid white;
}

.footer-bottom .container {
    padding: 1rem 0;
    /* Debug */
    background-color: lightblue;
}